---
theme :
  name : hooligan
layout: default
---
{% include JB/setup %}
{% include themes/hooligan/post.html %}


<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function(){
    function stripcdata(x) {
      if (x.startsWith('% <![CDATA[') && x.endsWith('%]]>'))
        return x.substring(11,x.length-4);
      return x;
    }
    document.querySelectorAll("script[type='math/tex']").forEach(function(el){
      el.outerHTML = "\\(" + stripcdata(el.textContent) + "\\)";
    });
    document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function(el){
      el.outerHTML = "\\[" + stripcdata(el.textContent) + "\\]";
    });
    var script = document.createElement('script');
    script.src = "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js";
    document.head.appendChild(script);
  }, false);
  </script>
  


<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$', '$'] ],
      displayMath: [ ['$$', '$$']],
      processEscapes: true,
      skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
    },
    messageStyle: "none",
    "HTML-CSS": { 
        preferredFont: "TeX", 
        availableFonts: ["STIX","TeX"], 
        styles: {".MathJax": {color: "#CCCCC"}} 
        }
  });
  </script> 
